In [ ]:
import pandas as pd

# Lecture du fichier CSV en spécifiant le séparateur comme point-virgule
tableau = pd.read_csv(r"C:\Users\sisso\OneDrive\Documents\GitHub\SORADATA\Python_for_Data_Science\Dataset\PyFinance_dataset\data_finance.csv", delimiter=';')

# Affichage des premières lignes pour vérifier que le fichier est bien chargé
print(tableau.head())

In [15]:
tableau.shape

(8950, 18)

In [17]:
print("Toutes les données : ",tableau.shape)
print("Sans les valeurs manquantes :", tableau.dropna().shape)

Toutes les données :  (8950, 18)
Sans les valeurs manquantes : (8636, 18)

In [25]:
                   # Liste des colonnes à sélectionner (ajout des nouvelles colonnes
colonnes = [
    "CUST_ID",
    "BALANCE", 
    "BALANCE_FREQUENCY", 
    "CASH_ADVANCE", 
    "CASH_ADVANCE_FREQUENCY", 
    "CASH_ADVANCE_TRX",   
    "PAYMENTS",
    "MINIMUM_PAYMENTS", 
    "PURCHASES", 
    "PURCHASES_TRX",
    "INSTALLMENTS_PURCHASES", 
    "ONEOFF_PURCHASES", 
    "ONEOFF_PURCHASES_FREQUENCY",  
    "PRC_FULL_PAYMENT", 
    "PURCHASES_FREQUENCY", 
    "PURCHASES_INSTALLMENTS_FREQUENCY",  
    "CREDIT_LIMIT",
    "TENURE"
]

donnees = tableau[colonnes]
donnees[0:5]

,CUST_ID,BALANCE,BALANCE_FREQUENCY,CASH_ADVANCE,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PAYMENTS,MINIMUM_PAYMENTS,PURCHASES,PURCHASES_TRX,INSTALLMENTS_PURCHASES,ONEOFF_PURCHASES,ONEOFF_PURCHASES_FREQUENCY,PRC_FULL_PAYMENT,PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CREDIT_LIMIT,TENURE
0,C10001,40.900749,0.818182,0.000000,0.000000,0,201.802084,139.509787,95.40,2,95.4,0.00,0.000000,0.000000,0.166667,0.083333,1000.0,12
1,C10002,3202.467416,0.909091,6442.945483,0.250000,4,4103.032597,1072.340217,0.00,0,0.0,0.00,0.000000,0.222222,0.000000,0.000000,7000.0,12
2,C10003,2495.148862,1.000000,0.000000,0.000000,0,622.066742,627.284787,773.17,12,0.0,773.17,1.000000,0.000000,1.000000,0.000000,7500.0,12
3,C10004,1666.670542,0.636364,205.788017,0.083333,1,0.000000,NaN,1499.00,1,0.0,1499.00,0.083333,0.000000,0.083333,0.000000,7500.0,12
4,C10005,817.714335,1.000000,0.000000,0.000000,0,678.334763,244.791237,16.00,1,0.0,16.00,0.083333,0.000000,0.083333,0.000000,1200.0,12

In [58]:
                         # Les indicateurs de tendances 
moyennes = tableau["BALANCE"].mean()
print(moyennes)

1564.4748276781006

In [60]:
medianes = tableau["BALANCE"].median()
print(medianes)

873.385231

In [62]:
mode = tableau["BALANCE"].mode()
print(mode)

0    0.0
Name: BALANCE, dtype: float64

In [70]:
                    # Les indicateurs de dispersion 

ecart_type = tableau["BALANCE"].std()
print(ecart_type)

2081.531879456554

In [72]:
quantile = tableau ["BALANCE"].quantile([0,0.25,0.5,0.75,1])
print(quantile)

0.00        0.000000
0.25      128.281915
0.50      873.385231
0.75     2054.140036
1.00    19043.138560
Name: BALANCE, dtype: float64

In [78]:


import pandas as pd

# Supposons que donnees est déjà chargé et nettoyé
q = [0, 0.25, 0.5, 0.75, 1]
l = ["Q1", "Q2", "Q3", "Q4"]

# Découpage des colonnes en quantiles
donnees["BALANCE_C"] = pd.qcut(donnees["BALANCE"], q, labels=l)
donnees["CREDIT_LIMIT_C"] = pd.qcut(donnees["CREDIT_LIMIT"], q, labels=l)
donnees["CASH_ADVANCE_C"] = pd.qcut(donnees["CASH_ADVANCE"], q, labels=l)
donnees["PAYMENTS_C"] = pd.qcut(donnees["PAYMENTS"], q, labels=l)

AssertionError: